*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Regular.ttf") format("Roboto");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-body: -apple-system, "Segoe UI", Helvetica Neue, Helvetica,
    Roboto, Arial, sans-serif, system-ui, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-display: Roboto, var(--font-body);
}

body {
  background-color: slateblue;
  padding-top: 100px;
  font-family: var(--font-body);
}

input[type=text] {
  padding: 5px;
  margin: 10px 0;
  border: 0;
  border: 1px solid slateblue;
  border-radius: 8px;
  text-align: center;
}

input[type=text]:focus {
  outline: none;  
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherFormBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 50px;
  margin: 0 auto;
  border-radius: 8px;
  background: white;
  flex-shrink: 3;
}

.wrapper > {
  flex-shrink: 1;
}

.temp {
  font-size: 1.5em;
  margin: 6px;
}

.temp.hot {
  color:crimson;

}

.temp.cool {
  color: blue
}

.submitButton {
  background-color: slateblue;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
}

.submitButton:hover {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


